<h1>
    <%=@recipe.name.capitalize%>
</h1>

<ul>
    <%@recipe.ingredients.each do |ingredient|%>
        <li>
            <%=ingredient.name%>

            <% ingredient_details = @details.find{|i| i.items_enum_id == ingredient.id} %>
            <%="Quantity " + String(ingredient_details.quantity) + " " + ingredient_details.items_enum.quantity_unit%>

        </li>
    <%end%>
</ul>

<h3>
    Recipe contents:
</h3>

<p>
    <%=@recipe.text%>
</p>

<%=link_to "Add ingredients to shopping list!", "/recipes/family/"+ String(@family.id) + "/" + String(@recipe.id) + "/add"%>
