<%= stylesheet_link_tag "families" %>
<div class = "row">
	<div class = "col-7 center-vertically-flex">
	<h1> <%= @family.name %> </h1>
	</div>
	
	<div class = "col-5 center-flex budget-plan-view">
		<p style = "margin:0;"> Weekly budget:  <%= @family.weekly_budget %></p>
		<h2 class = "text-center text-italic">
			Weekly budget state:</br> 
			<% if @family.current_budget_state < 0 %>
				<span id="budget-announce" class="bad-notice"><%= @family.current_budget_state %></span>
			<% else %>
				<span id="budget-announce" class="good-notice"><%= @family.current_budget_state %></span>
			<% end %>
		</h2>
	</div>
	<%if @transaction%>
		<div class = "col-5 center-flex">
			<h2 class = "text-center text-italic">
				Most bought by category:</br> <span id="statistics-announce"><%= @transaction.category_name + " : " +  @transaction.price.to_s + " " + @transaction.price_unit%></span>
			</h2>
		</div>
	<%end%>


	<div class= "col-12">
		<div class = "row">
			<div class = "col-12">
				<h2> Members: </h2>
				-> <%=link_to 'Add members', add_members_path( String(@family.id) ) %> <-<br>
			 </div>
				<%@members.each do |m|%>
					<div class = "col-10">
					<% if @family.administrator.user.id == m.id %>
						<%=link_to m.username, '/users/' + String(m.id), class: "admin-member-view"%>
					<% else %>
						<%=link_to m.username, '/users/' + String(m.id)%>
					<% end %>

					</div>

					<%if m.id != current_user.id %>
						<div class = "col"> <%= link_to "Kick", family_kick_path(@family.id, m.id), data: { confirm: "Are you sure you want to kick that user?" } %> </div>
					<% end %>
				<%end%>
		</div>
	</div>

	<div class = "col-12">
		<h2> Shopping lists </h2>
		-> <%=link_to 'Add shopping list', '/families/' + String(@family.id) + '/shopping_lists/new'%> <-<br>

		<% if @family.shopping_lists != [] %>
			<ul>
				<%@family.shopping_lists.each do |sl|%>
					<li>
						<%=link_to sl.name, "/families/" + String(@family.id) + "/shopping_lists/" + String(sl.id)%>
					</li>
				<%end%>	
			</ul>
		<% else %>
			<h4> No shopping lists yet!</h4>
		<% end %>
	</div>
	<br>
	
	<div class = "col-12">
		<h2> Current stock </h2>
		<% if @items != [] %>
			<ul>
				<%@items.each do |item|%>
					<li>
						<p> <%= item.items_enum.name %> - <%= item.quantity %> <%= item.items_enum.quantity_unit %></p>
					</li>
				<%end%>	
			</ul>
		<% else %>
			<h4> No items yet!</h4>
		<% end %>
	</div>

	<div class = "col-12">
		-> <%=link_to 'Change the family name', '/families/edit/' + String(@family.id)%> <-<br>

		-> <%=link_to 'Edit the family budget', '/families/edit_budget/' + String(@family.id)%> <-<br>
	<div class = "col-12">
</div>