<%= form_with(model: user, local: true, class: "form") do |form| %>


  <% if user.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class = "container-fluid justify-content-sm-center form">
    <div class="row justify-content-sm-center">
      
      <div class = "col-12 form-label">
        <%= form.label :email %>
      </div>
      <div class = "col-12 justify-content-sm-center">
        <%= form.text_field :email %>
      </div>
    </div>

    <div class="row justify-content-sm-center">
      <div class = "col-12 form-label">
        <%= form.label :username %>
      </div>
      <div class = "col-12 justify-content-sm-center">
        <%= form.text_field :username %>
      </div>
    </div>

    <div class="row justify-content-sm-center">
      <div class = "col-12 form-label">
        <%= form.label :password %>
      </div>
      <div class = "col-12 justify-content-sm-center">
        <%= form.password_field :password %>
      </div>
    </div>

    <div class="row justify-content-sm-center">
      <div class = "col-12 form-label">
        <%= form.label :password_confirmation %>
      </div>
      <div class = "col-12 justify-content-sm-center">
        <%= form.password_field :password_confirmation %>
      </div>
    </div>

    <div class="row justify-content-sm-center">
        <%= form.submit "Register" %>
    </div>

  </div>
<% end %>
