
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%if @families != []%>
	<ul>
		<%@families.each do |f|%>
			<li>
				<%= link_to f.name, '/families/show/' + String(f.id)%>
			</li>
		<%end%>
	</ul>
<%end%>
<%if @show%>
	<%= link_to 'Edit', edit_user_path(@user) %> |
<%else%>
	<%if session[:user_id] != nil%>
		<%= link_to 'Add to your family!', '/families/add_member/' + String(@user.id)%>
	<%end%>
<%end%>

<%= link_to 'Back', users_path %>
