
<div>
	<h2>
 		<strong style = "font-size: 150%;"> <%= @user.username %> </strong>
	</h2>
</div>


<div>
	<h3>Families: </h3>
	<%if @families != []%>
		<ul>
			<%@families.each do |f|%>
				<li>
					<%= link_to f.name, '/families/show/' + String(f.id)%>
				</li>
			<%end%>
		</ul>
	<%end%>
</div>

<div>
	<%if current_user && current_user.id == @user.id%>
		<%= link_to 'Edit', edit_user_path(@user) %>
		<p><%= link_to 'Create a family', families_new_path %></p>
	<%else%>
		<%if current_user != nil%>
			<%= link_to 'Add to your family!', '/families/add_member/' + String(@user.id)%>
		<%end%>
	<%end%>
</div>
<%= link_to 'Back', root_path %>
