<%= stylesheet_link_tag "shopping_lists" %>
<h1> <%= @list.name %> </h1>
<%if @items_enum != []%>
    <h2>
        Items to add to the shopping list!
    </h2>
    <ul>
        <%@items_enum.each do |item|%>
            <li>
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quantityModal" onclick='passItemToAddToModal(<%= @family.id %>, <%= @list.id%>, <%= item.id %>, "<%= "" + item.name.strip.capitalize %>")'>
                   <%= item.name %>
                </button>
               
            </li>   
        <%end%>
        <%# <li> %>
            <%# input %>
        <%# </li> %>
    </ul>


   

    <!-- Modal -->
    <div class="modal fade" id="quantityModal" tabindex="-1" role="dialog" aria-labelledby="quantityModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-lable"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <%= form_tag '', :class => "add-item" do %>
                        <div class="modal-body" style = "color: blue;">
                            <input type="number" name="quantity" placeholder = "quantity">
                            <input type="text" name="quantity_unit" placeholder = "unit(eg. grams, kilos, litres, meters)">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <%# <button type="button" class="btn btn-primary">Save changes</button> %>
                            <button type="submit" class = "stunning-button">Add</button>
                        </div>
                    <% end %>
                </div>
        </div>
    </div>
<%end%>