<%= stylesheet_link_tag "shopping_lists" %>

<div class = "row">
	<div class = "col-12">	
		<h1><%=@list.name%></h1>
	</div>

	<%if @list.items != []%>
		<div class = "col-12">
			<h3>Items of shopping list:</h3>
		</div>
	
		<div class = "col-12">
			<ul>
				<%@items.each do |item|%>
					<li>
						<div class="row">
							<div class="col">
								<%=item.items_enum.name%> - <%= String(item.quantity) + " " + item.quantity_unit %>
							</div>
							<div class="col">
								<span data-toggle = 'tooltip' data-placement = 'top' title = "Buy">
									<button class="btn" onclick = "passItemToBuyToModal('<%= buy_item_path(@family.id, @list.id, item.id)%>', '<%= item.quantity_unit %>')" data-toggle = "modal" data-target="#quantityAndPriceModal">
										<i class="fas fa-shopping-cart"></i>
									</button>
								</span>
							</div>
							<div class="col">
								<%= link_to delete_item_path(@family.id, @list.id, item.id), {'data-toggle' => 'tooltip', 'data-placement'=>'top', :title => "Delete", :method => :delete} do %>
									<i class="far fa-times-circle"></i>
								<% end %>
							</div>
						</div>
					</li>
				<%end%>
			</ul>
		</div>
	<%else%>
		<h4>There are no items in this list yet...</h4>
	<%end%>
	<div class = "col-12">
		<%=link_to 'Add items to shopping list!', '/families/' + String(@family.id) + '/shopping_lists/' + String(@list.id) + '/edit'%>	
	</div>
</div>


<div class="modal fade" id="quantityAndPriceModal" tabindex="-1" role="dialog" aria-labelledby="quantityAndPriceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-lable">Buy item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <%= form_tag '', :class => "add-item", :method => "PATCH" do %>
                        <div class="modal-body" style = "color: blue;">
                            <input type="decimal" name="price" placeholder = "price(a unit)">
                            <input type="number" name="quantity">
                            <%# <input type="text" name="price_unit" placeholder = "currency(eg.levs, euro, dollars, pounds etc.)"> %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <%# <button type="button" class="btn btn-primary">Save changes</button> %>
                            <button type="submit" class="stunning-button">Buy</button>
                        </div>
                    <% end %>
                </div>
        </div>
    </div>