<nav>
    <div class = "container-fluid">
        <div class = "container small-nav">
            <div class = "row">
                <div class = "col center-flex">
                    <div class = "dropdown">
                        <button class="btn" type="button" id="dropdownMenuButton" aria-haspopup="true" onclick="showNavOnClick()" aria-expanded="false">
                            <i class = "fas fa-bars"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% if current_user %>
                                <%= link_to "Profile", user_path(current_user.id), class: "dropdown-item" %>
                                <div class = "dropdown-divider"> </div>
                                <%= link_to "Your families", families_index_path, class: "dropdown-item" %>
                                <%= link_to "Budget", "#" , class: "dropdown-item" %>
                            <% end %>

                            <%= link_to "Color theme", "#" , class: "dropdown-item" %>
                        </div>
                    </div>
                </div>
                <div class = "col center-flex">
                    LOGO
                </div>
                <div class = "col center-flex">
                    <% if current_user %>
                        <%= link_to logout_path do %>
                            <i class="fas fa-sign-out-alt"></i>
                        <% end %>
                    <% else  %>
                        <%= link_to login_path do %>
                            <i class="fas fa-sign-in-alt"></i>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>

        <ul class = "nav">
            <span id="nav-logo">
                <p>LOGO</p>
            </span>

            <span id="nav-center">
                <li class = "nav-item">
                    <a href="/families/index" >Familiy</a>
                </li>
                <li class = "nav-item" id="home-span">
                    <a href="/" id="home">Home</a>
                </li>
                <li class = "nav-item">
                    <a href="#">Cook</a>
                </li>
            </span>

            <span id="nav-user-control">
                <% if(current_user) %>
                    <li class = "nav-item">
                        <a href="/users/<%=current_user.id%>" id="username"><%= current_user.username %></a>
                    </li>
                    <li class = "nav-item">
                        <a href="/logout">Logout</a>
                    </li>
                <% else %>
                    <li class = "nav-item">
                        <a href="/register">Register</a>
                    </li>
                    <li class = "nav-item">
                        <a href="/login">Login</a>
                    </li>
                <% end %>
            </span>
        </ul>

    </div>
</nav>